.boxed {
    border: 4px solid black;
    background-attachment: fixed;
    background-color: midnightblue;
  } 

  h1{
    text-shadow: 8px 8px;
    text-align: center;
    color:#FFFFFF; 
    font-size: 80px;
  }

h2{
    font-size: 40px;
    font-style: italics;
    color:#FFFFFF;
    text-align: center;
    text-emphasis: bold;
    border-bottom-style: groove;
  }
  
h3{
    color:#FFFFFF;
    font-size: 35px;
    white-space: wrap; 
    width: 1000px; 
    border: 5px solid #FFFFFF;
    overflow: hidden;
    text-overflow: clip;
    font-family: 'Bad Script', cursive;
    text-align: center;
  }

h4{
    color: white;
    text-align: right;
    font-size: 30px;
    font-family: 'Sriracha', cursive;

}
h5{
    color: white;
    text-align: right;
    font-size: 30px;
    font-family: 'Sriracha', cursive;

}
h6{
    color: white;
    text-align: right;
    font-size: 30px;
    font-family: 'Sriracha', cursive;

}

.emails{
  color: white;
    text-align: right;
    font-size: 30px;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
}

.Right{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shine{
  display: inline-block;
}
